@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Light/Dark theme variables */
:root {
  --bg-body: #f8fafc;
  --text-body: #0f172a;
}

.dark {
  --bg-body: #0f172a;
  --text-body: #f8fafc;
}

body {
  background-color: var(--bg-body);
  color: var(--text-body);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* About Page */
.about {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #f1f5f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dark .about {
  background-color: #161b22;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about h1 {
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Not found Page */
.not-found {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #f1f5f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dark .not-found {
  background-color: #161b22;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.not-found h1 {
  margin-bottom: 1rem;
}

.not-found p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* View Transitions */
/* @view-transition {
  navigation: auto;
} */
nav {
  view-transition-name: nav;
}
.appHeader {
  view-transition-name: appHeader;
}

/* Default (no class)*/
::view-transition-old(root) {
  animation: slide-out-to-left 0.5s ease-in forwards;
}
::view-transition-new(root) {
  animation: slide-in-from-right 0.5s ease-out forwards;
}

/* forward */
html:active-view-transition-type(forward) {
  &::view-transition-old(root) {
    animation: slide-out-to-left 0.5s ease-in forwards;
  }
  &::view-transition-new(root) {
    animation: slide-in-from-right 0.5s ease-out forwards;
  }
}
/* useViewTransitionNavigate: Old page slides from right, new page slides to left */
html:active-view-transition-type(backwards) {
  &::view-transition-old(root) {
    animation: slide-in-from-right 0.5s ease-in forwards reverse;
  }
  &::view-transition-new(root) {
    animation: slide-out-to-left 0.5s ease-out forwards reverse;
  }
}

@keyframes slide-out-to-left {
  to {
    translate: -100vw 0;
  }
}
@keyframes slide-in-from-right {
  from {
    translate: 100vw 0;
  }
}
